<ion-view view-title='Cart'>
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="product in products" type="item-text-wrap">
        <img ng-src="{{product.img}}">
        <h2>{{product.name}}</h2>
        <p>{{product.price}} x {{product.quantity}} = {{product.price*product.quantity}}€</p>
        <i ng-click="addProductToCart(product)" class="icon ion-ios-plus-outline balanced" style="right:51px;"></i>
        <i ng-click="removeProductToCart(product)" class="icon ion-ios-minus-outline assertive"></i>
      </ion-item>
    </ion-list>
    <div class="button button-block button-outline button-positive" style="margin-left: 50px; margin-right: 50px; margin-top: 30px; text-align:center;font-size: 26px;line-height:55px;">
      Total : {{total}}€
    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title" ng-click="timeGo()">Select pick up date</div>
  </div>
</ion-view>