<ion-view view-title="Login">
  <ion-content class="padding">
    <div style="padding-top: 100px" class="list padding">
      <label style="border-left: 0px; border-right: 0px; border-top: 0px" class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username">
      </label>
      <label  style="border-left: 0px; border-right: 0px;" class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="text" placeholder="Password">
      </label>
    </div>
    <div class="padding">
      <a href="#/shops" class="button button-block button-positive">
        Log in
      </a>
    </div>
  </ion-content>
</ion-view>
