<ion-view view-title="Log in">
  <ion-content class="padding">
    <div style="text-align: center; padding-top: 60px; padding-bottom: 30px;">
      <img src="img/caixa.png" style="width: 50%">
    </div>
    <div style="padding-top: 15px" class="list padding">
      <label style="border-left: 0px; border-right: 0px; border-top: 0px" class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username" ng-model="username">
      </label>
      <label  style="border-left: 0px; border-right: 0px;" class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="password">
      </label>
    </div>
    <div class="padding">
      <a href="#/shops" class="button button-block button-positive">
        Log in
      </a>
    </div>
  </ion-content>
</ion-view>
